html,body{
    margin-top: 150px;
    background-color:white;
}
footer{
    margin-top: 10px;
    background: linear-gradient(#2E3192,#1BFFFF);
}
footer p{
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    color: white;
}
#marginIMG{
    margin: 10px;
}